:root {
  --spacing-none: 0;
  --spacing-2: 0.2rem;
  --spacing-4: 0.4rem;
  --spacing-8: 0.8rem;
  --spacing-12: 1.2rem;
  --spacing-16: 1.6rem;
  --spacing-24: 2.4rem;
  --spacing-32: 3.2rem;
  --spacing-36: 3.6rem;
  --spacing-40: 4rem;
  --spacing-48: 4.8rem;
  --spacing-56: 5.6rem;
  --spacing-60: 6rem;
  --spacing-64: 6.4rem;
  --spacing-80: 8rem;
  --spacing-96: 9.6rem;
  --spacing-120: 12rem;
  --spacing-140: 14rem;
  --spacing-160: 16rem;
}
